<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<section class="ativacao loader">

		<div class="card">
		  <div class="card-header">
		    Ativação
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Seu cadastro foi efetuado com sucesso!</h5>
		    <p class="card-text">Acesse seu email para confirmação de cadastro</p>
		    <a href="/" class="btn btn-primary">Fazer login</a>
		  </div>
		</div>

	</section>
</body>

	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/my-login.js"></script>
	<script src="js/popper.min.js"></script>
</html>

