<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
		<title>MyTest</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/my-login.css">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="images/logo.png">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Cadastro</h4>

							<% if(validacao.length > 0){ %>
								<div class="alert alert-danger">
									<strong>Atenção</strong>
									<ul>
										<% for(var i = 0; i < validacao.length; i++){ %>
											<li><%= validacao[i].msg %></li>
										<% } %>
									</ul>
								</div>
							<% } %>

							<form method="POST" action="/cadastrar">


								<div class="form-group">
									<label for="text">Nome</label>
									<input id="nome" type="text" value="<%= dadosForm.nome %>" class="form-control" name="nome" required>
								</div>
							 

							 <div class="form-group">
							 	<label for="text">Email</label>
							 	<input id="email" type="email" value="<%= dadosForm.email %>" class="form-control" name="email" required>
							 </div>


								<div class="form-group">
									<label for="password">Senha</label>
									<input id="senha" type="password" value="<%= dadosForm.senha %>" class="form-control" name="senha" required>
								</div>


								<div class="form-group no-margin">
									<button type="submit" class="btn btn-primary btn-block">
										Cadastrar
									</button>
								</div>
								<div class="margin-top20 text-center">
									Já possui uma conta? <a href="/">Login</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						 Copyright &copy; Locadados 2018.
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/my-login.js"></script>
</body>
</html>